<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
	    <tab id="jamestab" translate="label" sortOrder="1000">
            <label>James</label>
        </tab>
        <section id="ordersaver" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Order Saver</label>
			<tab>jamestab</tab>
			<resource>James_OrderSaver::config_ordersaver</resource>
			<group id="general" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Order Saver General Configuration</label>
				<field id="enabled" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Order Saver</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="filename_path" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Filename to save to</label>
					<comment><![CDATA[Filename to save the order data to.<br/>
					Use 'MAGENTO_ROOT' to point to the Magento root folder.<br/>
					Default setting is 'MAGENTO_ROOT/var/log/orderSaver.log']]></comment>
				</field>				
			</group>
		</section>
	</system>
</config>